*{
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    flex-flow: column wrap;
}

body{
  background-color: rgba(245,244,240,255);  


}
.bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
input{
    height: 420px;         
    padding-left: 350px; 
    background-repeat: no-repeat;
    cursor: default;
    background-size:cover;
    vertical-align: middle;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;border-bottom-left-radius: 15px 255px;border-bottom-right-radius: 225px 15px;border-top-left-radius: 255px 15px;border-top-right-radius: 15px 225px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    outline: none;
    user-select: none;
}
h1{
    font-size: 80px;
}
h1,h2,h3,h5{
    font-family: 'Caveat', cursive;
font-family: 'Shadows Into Light', cursive;
}

h2{
    font-size: 50px;
}
h3{
    font-size: 45px;
}

.buttons{
display: flex;
flex-wrap: wrap;
gap: 150px;
padding:5% 0;
align-items: center;
justify-content: center;
}


input.icon-r{
    background-image: url(images/rock.png);
    background-position: center;
}
input.icon-p{
    background-image: url(images/paper.png);
    background-position: center;
}
input.icon-s{
    background-image: url(images/scissors.png);
    background-position: center;
    
}

input:hover{
    background-blend-mode: difference;
}
.copyright{
    position: absolute;
    bottom: 0px;
    align-self: center;
}

